html {
    cursor: crosshair;
}

body {
    margin: 0;
    padding: 0;
    background-color: #673720;
}

div#game-field {
    margin: 0 auto;
}

canvas#fruit-layer {
    z-index: 1;
}

#exit-fullscreen {
    display: none;
}

#start {
    position: absolute;
    left: 495px;
    top: 420px;
    height: 180px;
    z-index: 2;
}

#exit-fullscreen {
    height: 30px;
}

#fullscreen {
    position: absolute;
    top: 515px
    width: 100px;
    height: 100px;
}

